.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  color: white;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  font-size: 30px;
  color: white;
}

.trybewarts-header-logo {
  width: 80px;
}

.row-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#btn-login {
  width: 20%;
  height: 38px;
  border-radius: 5px;
  background-color: royalblue;
  border: none;
  color: white;
  font-size: 15px;
}

main , #evaluation-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#evaluation-form {
  width: 675px;
  margin: 20px;

}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
  justify-content: flex-end;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
  font-size: 12px;
  background-color: rgb(44, 44, 44);
}
